<h2>My Account</h2> 
<?php if ($this->identify == null) { ?> 
    <p>To log in <a href='<?php $this->baseUrl(); ?>/admin/user/login'>click here</a></p> 
<?php } else { ?> 
    <p>Welcome back <?php echo $this->identify->first_name; ?></p> 
    <p>To log out <a href='<?php $this->baseUrl(); ?>/admin/user/logout'>click here</a></p> 
<?php } ?>