<h2>Current Users</h2> 
<?php
if ($this->users != null) {
    ?> 
    <table class='spreadsheet table' cellpadding='0' cellspacing='0'> 
        <tr> 
            <th>Links</th> 
            <th>Last Name</th> 
            <th>First Name</th> 
            <th>Username</th> 
            <th>Role</th> 
            <th> 
        </tr> 
        <?php foreach ($this->users as $val) { ?>
            <tr>
                <td class="links">
                    <a href="/admin/user/update/id/<?php echo $this->escape($val['id']) ?>">Update</a>  |   
                    <a href="/admin/user/delete/id/<?php echo $this->escape($val['id']) ?>">Delete</a>
                </td>
                <td><?php echo $this->escape($val['last_name']) ?></td>
                <td><?php echo $this->escape($val['first_name']) ?></td>
                <td><?php echo $this->escape($val['username']) ?></td>
                <td><?php echo $this->escape($val['role']) ?></td>
            </tr>
        <?php } ?>
    </table> 
<?php } else { ?> 
    <p>You do not have any users yet.</p> 
<?php } ?> 
<p><a href='/admin/user/create'>Create a new user</a></p>