<h2>User Login</h2> 
<p>To login to your account please enter your username and password below...</p> 
<?php if ($this->loginMessage) { ?> 
    <p><?php echo $this->escape($this->loginMessage) ?></p> 
<?php
}
echo $this->form;
?> 