<h2>Current Menus</h2> 
<?php if ($this->menus != null) { ?> 
    <table class='spreadsheet' cellpadding='0' cellspacing='0'> 
        <tr> 
            <th>Links</th> 
            <th>Menu Name</th> 
        </tr>
        <?php foreach ($this->menus as $val) { ?>
            <tr>
                <td>
                    <a href='/admin/menu/edit/id/<?php echo $this->escape($val['id']); ?>'>Edit</a> | 
                    <a href='/admin/menuitem/index/menuid/<?php echo $this->escape($val['id']); ?>'> 
                        Manage Menu Items</a> | 
                    <a href='/admin/menu/delete/id/<?php echo $this->escape($val['id']); ?>'>Delete</a> 
                </td>
                <td>
                    <?php echo $this->escape($val['name']) ?>        
                </td>
            </tr>
        <?php } ?>
    </table> 
<?php } else { ?> 
    <p>You do not have any menus yet.</p> 
<?php } ?> 
<p><a href='/admin/menu/create'>Create a new menu</a></p> 
