<?php if ($this->menuId == $this->adminMenuId && isset($this->menus)) { ?>
    <li <?php if ($this->escape($_SERVER["REQUEST_URI"]) == '/admin') { ?>
        <?php echo 'class="active"'; ?>
        <?php } ?> >
        <a href="<?php echo $this->baseUrl() . '/admin' ?>"> 
            <i class="fa fa-dashboard icon"> 
                <b class="bg-danger"></b> 
            </i>
            <span>Workset</span> 
        </a>
    </li>
    <?php foreach ($this->menus as $val) { ?>
        <li <?php if (strpos($this->escape($_SERVER["REQUEST_URI"]), $this->escape($val->link)) === 0) { ?>
            <?php echo 'class="active"'; ?>
            <?php } ?>>
                <?php if ((int) $val->parent_id == 0) { ?>
                <a href="<?php echo $this->escape($val->link) ?>"> 
                    <i class="fa <?php echo $this->escape($val->image_path) ?> icon"> 
                        <b class="<?php echo $this->escape($val->background) ?>"></b> 
                    </i> 
                    <span class="pull-right"> 
                        <i class="fa fa-angle-down text"></i> 
                        <i class="fa fa-angle-up text-active"></i> 
                    </span> 
                    <span><?php echo $this->escape($val->label) ?></span> 
                </a>

                <?php $childs = $val->findDependentRowset('Admin_Model_Menuitem', null, $this->select); ?>
                <ul class="nav lt"> 
                    <?php foreach ($childs as $child) { ?>

                        <li <?php if ($this->escape($_SERVER["REQUEST_URI"]) == $this->escape($child->link)) { ?>
                            <?php echo 'class="active"'; ?>
                            <?php } ?>> 
                            <a href="<?php echo $this->escape($child->link) ?>"> 
                                <i class="fa fa-angle-right"></i> 
                                <span><?php echo $this->escape($child->label) ?></span> 
                            </a> 
                        </li> 

                    <?php } ?>
                </ul> 
            <?php } ?>
        </li>
    <?php } ?>
<?php } else if ($this->menuId == $this->mainMenuId) { ?>
    <ul class="navigation">
        <?php foreach ($this->menus as $val) { ?>
            <li>
                <a href="<?php echo $this->escape($val->link) ?>">
                    <?php echo $this->escape($val->label) ?>
                </a>
            </li>
        <?php } ?>
    </ul> 
<?php } ?>
