<h2>Manage Menu Items</h2> 
<p>Current Menu: <?php echo $this->escape($this->menu['name']); ?></p> 
<?php if ($this->items != null) { ?> 
    <table> 
        <tr> 
            <th>Links </th> 
            <th>Label</th> 
            <th>Page</th> 
            <th>Link</th> 
        </tr> 
        <?php // echo $this->partialLoop('partials/_menu-item-row.phtml', $this->items); ?>
        <?php foreach ($this->items as $val) { ?>
            <?php
//            if ($val['page_id'] > 0) {
//                $page = new CMS_Content_Item_Page($this->page_id);
//                $pageName = $page->name;
//            } else {
//                $pageName = null;
//            }
            ?> 
            <tr>
                <td class='links'> 
                    <a href='/admin/menuitem/update/id/<?php echo $val['id']; ?>'>Update</a> | 
                    <a href='/admin/menuitem/move/direction/up/id/<?php echo $val['id']; ?>'> 
                        Move up</a> | 
                    <a href='/admin/menuitem/move/direction/down/id/<?php echo $val['id']; ?>'> 
                        Move down</a> | 
                    <a href='/admin/menuitem/delete/id/<?php echo $val['id']; ?>'>Delete</a> 
                </td> 
                <td><?php echo $val['label'] ?></td> 
                <td><?php // echo $pageName    ?></td>
                <td><?php echo $val['link'] ?></td> 
            </tr>
        <?php } ?>
    </table> 
<?php } else { ?> 
    <p>This menu does not have any items yet.</p> 
<?php } ?> 
<p><a href='/admin/menuitem/add/menuid/<?php echo $this->menu['id'] ?>'>Add a new item</a></p> 