<div class="row m-l-none m-r-none bg-light lter">
    <section class="panel panel-default">
        <div class="row m-l-none m-r-none bg-light lter">
            <div class="col-md-4 padder-v b-r b-light">
                    <span class="fa-stack fa-2x pull-left m-r-sm">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <i class="fa fa-male fa-stack-1x text-white"></i>
                    </span>
                <!--<a class="clear" href="#">-->
                    <span class="h3 block m-t-xs ga_total" id="marry-total"><img
                            src="/skins/admin/images/Filling broken ring.gif">
                    </span>
                <header class="panel-heading bg-primary no-border ga_text_large">Marry</header>
                <!--</a>-->
            </div>
            <div class="col-md-4 padder-v b-r b-light">
                    <span class="fa-stack fa-2x pull-left m-r-sm">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <i class="fa fa-male fa-stack-1x text-white"></i>
                    </span>
                <!--<a class="clear" href="#">-->
                    <span class="h3 block m-t-xs ga_total" id="marrybaby-total"><img
                            src="/skins/admin/images/Filling broken ring.gif">
                    </span>
                <header class="panel-heading bg-primary no-border ga_text_large">Marry Baby</header>
                <!--</a>-->
            </div>
            <div class="col-md-4 padder-v b-r b-light">
                    <span class="fa-stack fa-2x pull-left m-r-sm">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <i class="fa fa-male fa-stack-1x text-white"></i>
                    </span>
                <!--<a class="clear" href="#">-->
                    <span class="h3 block m-t-xs ga_total" id="elle-total"><img
                            src="/skins/admin/images/Filling broken ring.gif">
                    </span>
                <header class="panel-heading bg-primary no-border ga_text_large">ELLE</header>
                <!--</a>-->
            </div>
            <div class="col-md-4 padder-v b-r b-light">
                    <span class="fa-stack fa-2x pull-left m-r-sm">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <i class="fa fa-male fa-stack-1x text-white"></i>
                    </span>
                <!--<a class="clear" href="#">-->
                    <span class="h3 block m-t-xs ga_total" id="womansheathvn-total"><img
                            src="/skins/admin/images/Filling broken ring.gif">
                    </span>
                <header class="panel-heading bg-primary no-border ga_text_large">Womans Heath VN</header>
                <!--</a>-->
            </div>
            <div class="col-md-4 padder-v b-r b-light">
                    <span class="fa-stack fa-2x pull-left m-r-sm">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <i class="fa fa-male fa-stack-1x text-white"></i>
                    </span>
                <!--<a class="clear" href="#">-->
                    <span class="h3 block m-t-xs ga_total" id="bgd-total"><img
                            src="/skins/admin/images/Filling broken ring.gif">
                    </span>
                <header class="panel-heading bg-primary no-border ga_text_large">Bếp Gia Đình</header>
                <!--</a>-->
            </div>

        </div>
    </section>
</div>

<?php
$this->inlineScript()->appendFile('/skins/admin/js/garth.js');
?>
