<div class="m-b-md"><h3 class="m-b-none">Google Analytic</h3>
    <small>Welcome back, <?php ?></small>
</div>

<div class="row m-l-none m-r-none bg-light lter">

    <?php if (isset($this->authUrl)) { ?>
        <div class="col-md-4 padder-v b-r b-light">
            <span class="fa-stack fa-2x pull-left m-r-sm"> 
                <i class="fa fa-circle fa-stack-2x text-info"></i> 
                <i class="fa fa-male fa-stack-1x text-white"></i> 
            </span> 
            <a class="clear" href='<?php echo $this->escape($this->authUrl); ?>'> 
                <span class="h3 block m-t-xs">
                    <strong>Connect Me!</strong></span>
                    <!--            <small class="text-muted text-uc">New robots</small>-->
            </a>
        </div>
    <?php } else { ?>
        <div class="col-md-4  padder-v b-r b-light">
            <a class="clear" href="/admin/ga/mbnd"> 
                <span class="fa-stack fa-2x pull-left m-r-sm"> 
                    <i class="fa fa-circle fa-stack-2x text-info"></i> 
                    <i class="fa fa-home fa-stack-1x text-white"></i> 
                </span> 

                <span class="h3 block m-t-xs">
                    <strong>Mbnd</strong></span>
    <!--            <small class="text-muted text-uc">New robots</small>-->
            </a>
        </div>

        <div class="col-md-4 padder-v b-r b-light">
            <a class="clear" href="/admin/ga/digital">
                <span class="fa-stack fa-2x pull-left m-r-sm"> 
                    <i class="fa fa-circle fa-stack-2x text-info"></i> 
                    <i class="fa fa-building-o fa-stack-1x text-white"></i> 
                </span> 

                <span class="h3 block m-t-xs">
                    <strong>Digital</strong></span>
    <!--            <small class="text-muted text-uc">New robots</small>-->
            </a>
        </div>
    <?php } ?>

    <?php if (!empty($_SESSION['token'])) { ?>
        <form action="<?php echo $this->escape($_SERVER["REQUEST_URI"]) ?>" method="POST">
            <input type="submit" name="token" value="delete"/>
            <input type="hidden" value="unset token"/>
        </form>
    <?php } ?>
</div>

