<div class="row m-l-none m-r-none bg-light lter">
    <section class="panel panel-default">
        <div class="row m-l-none m-r-none bg-light lter">
            <div class="col-sm-6 col-md-3 padder-v b-r b-light">
                    <span class="fa-stack fa-2x pull-left m-r-sm">
                        <i class="fa fa-circle fa-stack-2x text-info"></i> <i
                            class="fa fa-male fa-stack-1x text-white"></i>
                    </span>
                <!--<a class="clear" href="#">-->
                    <span class="h3 block m-t-xs ga_total" id="mbnd-total">
                        <img src="/skins/admin/images/Filling broken ring.gif">
                    </span>
                <header class="panel-heading bg-primary no-border ga_text_large">MBND</header>
                <!--</a>-->
            </div>
            <div class="col-sm-6 col-md-3 padder-v b-r b-light">
                <!--</a>-->
                <div class="list-group">
                    <a href="#" class="list-group-item text-ellipsis">
                            <span class="badge bg-danger"><span class="h2 block m-t-xs"
                                                                id="mbnd-yesterday"></span></span>
                        Yesterday
                    </a>
                    <a href="#" class="list-group-item text-ellipsis">
                            <span class="badge bg-success"><span class="h2 block m-t-xs"
                                                                 id="mbnd-lastmonth""></span></span>
                        Last Month
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<?php
$this->inlineScript()->appendFile('/skins/admin/js/garth.js');
?>
