@CHARSET "ISO-8859-1";

body {
    font-size: 13px;
    background:url(../images/body.jpg) repeat-x;
}

* {
    margin: 0;
    padding: 0;
}

p {
    padding: .5em;
    font-size: 1.2em;
}

#pageWrapper {
    width: 79em;
    margin: 1em auto;
    padding:1em 0;
    -moz-border-radius: 5px;
    border:#749BCE 1px solid;
    background: #fff;

}

#header {
    height: 5em;
    padding:1em 2em;
}

#nav {
    background: url(../images/nav.jpg) repeat-x #FD9421;
    height: 2.5em;
    margin: 0 0 .5em 0;
    padding:.5em 0;
    border-top:#FD9421 1px solid;
}

#sidebar {
    float: right;
    width: 17em;
    height: 40em;
    margin: 0 0 .5em .5em;
    padding: .5em;
}

#main {
    min-height:30em;
    margin: 0 0 .5em 0;
    padding:2em;
}

#subNav,#adminMenu,#userForm {
    width: 17em;
    height: 10em;
    margin: 0 0 .5em 0;
}

#footer {
    clear: both;
    height: 2.5em;
    margin: 0;
    text-align:center;
    font-style:italic;
}

.featuredItem{
    padding:5px 10px;
    margin:10px;
    width:420px;
    min-height:100px;
    -moz-border-radius: 5px;
    border:1px solid #749BCE;
}

.featuredItem h3{
    margin-bottom:5px;
}

.featuredItem h3 a{
    color:#000;
    text-decoration:none;
}

.featuredItem h3 a:hover{
    text-decoration:underline;
}

.featuredItem img{
    width:120px;
    height:auto;
    float:left;
    margin:0 10px 10px 0;
}

.featuredItem ul{
    padding:5px 30px;
}

#openPage{
    width:520px;
}

#openPage blockquote{
    padding:10px;
    font-style:italic;
}

#openPage img#mainImage{
    width:320px;
    height:auto;
    margin:0 0 10px 10px;
    float:right;
} 