<?php
echo $this->doctype();
$this->layout()->nav = $this->action('render', 'menu', 'admin', array('menuid' => $this->mainMenuId));
//$this->layout()->adminMenu = $this->action('render', 'menu', 'admin', array('menuid' => $this->adminMenuId));
$this->layout()->userForm = $this->action('index', 'user', 'admin');
?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <?php echo $this->headMeta() ?>
        <?php echo $this->headTitle() ?>
        <?php
        $this->loadSkin($this->skin);
//        $this->headLink()->appendStylesheet('/css/bootstrap3_1_1/bootstrap.min.css');
//        $this->headLink()->appendStylesheet('/css/bootstrap3_1_1/bootstrap-theme.min.css');
        echo $this->headLink();
        ?>
    </head>
    <body>
        <div id="pageWrapper">
            <div id="header">
                <?php // echo $this->layout()->header;  ?>&nbsp;
                <h1><?php echo "My Zend CM" ?></h1>
            </div>
            <div id="nav">
                <?php echo $this->layout()->nav; ?>&nbsp;
            </div>
            <div id="sidebar">
                <div id="subNav">
                    <?php // echo $this->layout()->subNav;  ?>&nbsp;
                </div>
                <div id="adminMenu">
                    <?php // echo $this->layout()->adminMenu;  ?>&nbsp;
                </div>
                <div id="userForm">
                    <?php echo $this->layout()->userForm;  ?>&nbsp;
                </div>
            </div>
            <div id="main">
                <?php echo $this->layout()->content; ?>&nbsp;
            </div>
            <div id="footer">
                <p><em>@the footer</em></p>
            </div>
        </div>

        <?php // echo $this->placeholder('sidebar')   ?>

        <?php
//        $this->inlineScript()->appendFile('/js/jquery-1.11.0.min.js');
//        $this->inlineScript()->appendFile('/js/bootstrap3_1_1/bootstrap.min.js');
        echo $this->inlineScript();
        ?>

    </body>
</html>
